@import "tailwindcss";

@layer base {
}

li {
  @apply mb-0;
}
@font-face {
  font-family: "Geogrotesque";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(./fonts/geogrotesque-regular.woff) format("woff");
}

@font-face {
  font-family: "Geogrotesque";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/geogrotesque-medium.woff) format("woff");
}

@font-face {
  font-family: "Geogrotesque";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/geogrotesque-bold.woff) format("woff");
}

@font-face {
  font-family: "Geogrotesque";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(./fonts/geogrotesque-regular-italic.woff) format("woff");
}

@font-face {
  font-family: "Geogrotesque";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/geogrotesque-medium-italic.woff) format("woff");
}

@font-face {
  font-family: "Geogrotesque";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/geogrotesque-bold-italic.woff) format("woff");
}

@font-face {
  font-family: "Geogrotesque";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./fonts/geogrotesque-semibold.woff) format("woff");
}

body {
  font-family: "Geogrotesque", sans-serif;
  font-optical-sizing: auto;
}
